*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* schermata di login*/

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image:url(immagini/ghost1.avif); 
  background-size: cover;
  width:100%;
}

.login-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 32px;
  background-color: transparent;
  border: 8px solid white;
  border-radius: 16px;
  gap: 12px;
}

/* titolo e sottotitolo  schermata login*/
.title{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color:white;
  font-family: "rochester", cursive;
  font-style: normal;
  cursor:default;
  letter-spacing: 3px;
}

.subtitle{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color:white;
  font-family: "Rochester", cursive;
  font-style: normal;
  cursor:default;
  letter-spacing: 3px;
}

/* caratteristiche bottoni per mail e password*/

.input-custom{
  width: 100%;
  margin: 4px;
  font-family: "Rochester", cursive;
  font-style: normal;
  letter-spacing: 3px;
}

.input-custom:hover{
 background-color:  rgba(247, 91, 7, 0.781); 
}

.button-custom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 0.68px solid #ddd;
  cursor: pointer;
  padding: 0px 12px;
  font-family: "Rochester", cursive;
  font-style: normal;
  color:#fff;
}

.button-custom:hover{
  background-color: rgba(247, 91, 7, 0.781);
  transform: scale(1.04);
  color:white;
}

/* container di inizio gioco*/
.main-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100%;
  background-image:url(immagini/ghost2.jpg);
  background-size:cover;
}

.game-block{
  display: flex;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 32px;
  background-color: #fff;
  border: 8px solid #0d0e0e;
  border-radius: 16px;
  gap: 12px;
  justify-content: center;
  flex-direction: column;
}

/* titolo e sottotitolo inizio gioco*/
.title{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-weight: 700;
  color:#0d0e0e;
  cursor:pointer;
} 

.text-subtitle{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color:#0d0e0e;
  font-weight: 400px;
  cursor:pointer;
}
.text-subtitle:hover{
   transform: scale(2);
}

/* container scelta personaggi*/

.step1{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-image:url(immagini/second.img);
  background-size:auto; 
  background-repeat: no-repeat;
}

.title{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-weight: 700;
  color:#0d0e0e;
} 

.operatore{
  font-family: "rochester", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color:#0d0e0e;
  cursor:pointer;
  padding:4px;
  letter-spacing: 3px;
}

/* container prima scelta miltipla*/

.step2{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: 100%;
  background-size:cover; 
  background-repeat: no-repeat;
  background-image:url(immagini/stanza.jpg);
}

.title1{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-weight: 700;
  color:black;
  letter-spacing: 3px;
  cursor:default
} 

.text-subtitle1{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-size: 25px;
  color:black;
  font-weight: 400px;
  letter-spacing: 3px;
  cursor:default;
}

.buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  width: 100%;
  height: 40px;
  cursor: pointer;
  padding: 0px 12px;
  font-family: "Rochester", cursive;
  font-style: normal;
  color:black;
  font-size: 25px;
}

.hidden{
  display: none;
}
