*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image:url(immagini/Programacion-funcional-en-JavaScript.jpg); 
  background-size: cover;
  width:100%;
}

.login-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 32px;
  background-color: #fff;
  border: 8px solid #060606;
  border-radius: 16px;
  gap: 12px;
}

.title{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color:rgb(235, 39, 212);
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  cursor:default;
}

.subtitle{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color:rgb(107, 228, 246);
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  cursor:default;
}

.input-custom{
  width: 100%;
  margin: 4px;
  font-family: "Rochester", cursive;
  font-style: normal;
}

.input-custom:hover{
 background-color: rgba(230, 183, 253, 0.781); 
}

.button-custom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 0.68px solid #ddd;
  cursor: pointer;
  padding: 0px 12px;
  font-family: "Rochester", cursive;
  font-style: normal;
}

.button-custom:hover{
  background-color: rgba(247, 91, 7, 0.781);
  transform: scale(1.04);
}
.main-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100%;
  background-image:url(immagini/fb.jpg);
  background-size:cover;
}
.game-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 32px;
  background-color: #fff;
  border: 8px solid #0d0e0e;
  border-radius: 16px;
  gap: 12px;
}

.title{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-weight: 700;
}   

.text-subtitle{
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-weight: 500;

}

.personaggio{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image:url(immagini/fb.jpg);
  background-size: cover;
}

.hidden{
  display: none;
}
.scelta-personaggio{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image:url(immagini/wp9019618.webp);
  background-size: cover;
}

.male{
 font-size: 20px;
  font-weight: 700;
  text-align: center;
  color:rgb(235, 39, 212);
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  cursor:default;
}

.female{
 font-size: 20px;
  font-weight: 700;
  text-align: center;
  color:rgb(235, 39, 212);
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: bold;
  cursor:default;
}
